* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #1d78af;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #1d78af;
  color: #FFF;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #1d78af;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

i {
  font-style: normal;
}

a:focus {
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  color: #000;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 18px;
  padding: 0px 30px 30px;
  min-height: 100vh;
}

.home {
  background-image: url("/img/marble.jpg");
}
.home:after {
  content: " ";
  display: block;
  position: absolute;
  top: 45vh;
  right: 0;
  bottom: -100%;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA4NDI5MSIgeTE9IjAuODY1MTA2IiB4Mj0iMS4wODQyOTEiIHkyPSIwLjEzNDg5NCI+PHN0b3Agb2Zmc2V0PSIzOSUiIHN0b3AtY29sb3I9IiMwMDAwZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2I5ZmQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-linear-gradient(32deg, #0000ff 39%, #b7b9fd);
  background-image: linear-gradient(58deg, #0000ff 39%, #b7b9fd);
  -webkit-transform: skew(0deg, -10deg);
      -ms-transform: skew(0deg, -10deg);
          transform: skew(0deg, -10deg);
  z-index: -1;
}

.games {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee, #ffffff 25vh);
  background-image: linear-gradient(#eeeeee, #ffffff 25vh);
}
.games:before {
  content: " ";
  display: block;
  position: absolute;
  top: 25vh;
  right: 0;
  bottom: -100%;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA4NDI5MSIgeTE9IjAuODY1MTA2IiB4Mj0iMS4wODQyOTEiIHkyPSIwLjEzNDg5NCI+PHN0b3Agb2Zmc2V0PSIzOSUiIHN0b3AtY29sb3I9IiM5ZGZkOTIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2ZmZjEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-linear-gradient(32deg, #9dfd92 39%, #f3fff1);
  background-image: linear-gradient(58deg, #9dfd92 39%, #f3fff1);
  z-index: -1;
}
.games:after {
  content: " ";
  display: block;
  position: absolute;
  top: 25vh;
  right: 0;
  bottom: -100%;
  left: 0;
  background-image: url("/img/mask.svg");
  background-repeat: no-repeat;
  z-index: -1;
  margin-top: -1px;
}

.leaderboard {
  background-size: 130px;
  background-image: url("/img/palm.jpg");
}
.leaderboard:after {
  content: " ";
  display: block;
  position: absolute;
  top: 45vh;
  right: 0;
  bottom: -100%;
  left: 0;
  background: #FBE5EF;
  -webkit-transform: skew(0deg, 6deg);
      -ms-transform: skew(0deg, 6deg);
          transform: skew(0deg, 6deg);
  z-index: -1;
}

.leaderboard-mod,
.scoreboard {
  display: table;
  border: 5px solid #000;
  background-color: #fff;
  padding: 50px 70px;
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  min-height: 50vh;
  margin-top: 25vh;
}
.games .leaderboard-mod, .games
.scoreboard {
  margin-bottom: 100px;
}

.scoreboardInner {
  display: table-cell;
  vertical-align: middle;
}

.scoreboardLayout {
  margin-left: -0;
  *zoom: 1;
  text-align: center;
}
.scoreboardLayout:after {
  content: "";
  display: table;
  clear: both;
}
.scoreboardLayout > .scoreboardItem {
  float: left;
  padding-left: 0;
  width: 33.3333%;
}
.scoreboardLayout > .scoreboardItem:nth-of-type(3n+4) {
  clear: left;
}
.ie7 .scoreboardLayout > .scoreboardItem {
  width: 33%;
}
.scoreboardLayout > .scoreboardItem.n4 {
  clear: left;
}
.games .scoreboardLayout {
  margin-bottom: 60px;
  border-bottom: 3px dashed #ddd;
  padding-bottom: 60px;
}
.games .scoreboardLayout:last-child {
  margin-bottom: 0px;
  border-bottom: 0px dashed #ddd;
  padding-bottom: 0px;
}

.leaderboardLayout {
  margin-bottom: 30px;
  border-bottom: 3px dashed #ddd;
  padding-bottom: 30px;
  *zoom: 1;
}
.leaderboardLayout:after {
  content: "";
  display: table;
  clear: both;
}
.leaderboardLayout:last-child {
  margin-bottom: 0px;
  border-bottom: 0px dashed #ddd;
  padding-bottom: 0px;
}

.leaderboard-imgMod {
  float: left;
  margin-right: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 7px solid #000;
}

.leaderboard-hgroup {
  padding: 10px 0;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
}

.leaderboard-score {
  width: 50%;
  float: right;
  text-align: center;
  font-weight: bold;
  color: #BDEEC5;
  font-size: 65px;
  line-height: 100%;
}

.gameCount {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.playerName {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

.playerScore {
  font-size: 86px;
  font-weight: bold;
}

.verb {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 50px;
  -webkit-transform: rotate(-62deg);
      -ms-transform: rotate(-62deg);
          transform: rotate(-62deg);
}

.nav {
  position: fixed;
  top: 50px;
  left: 50px;
  right: 50px;
  padding: 10px;
}

.nav-list {
  width: 50%;
  top: 40%;
  right: 30px;
  position: absolute;
  text-align: right;
}

.nav-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 0 15px;
}

.nav-link {
  padding-bottom: 3px;
}

.games .nav-link--games {
  border-bottom: 3px solid black;
}

.leaderboard .nav-link--leaderboard {
  border-bottom: 3px solid black;
}

.logoMod {
  width: 40%;
}

.borders li {
  position: fixed;
  z-index: 999;
  background-color: #fff;
}
.borders li:first-child {
  left: 0;
  top: 0;
  right: 0;
  height: 30px;
}
.borders li:nth-child(2) {
  left: 0;
  bottom: 0;
  right: 0;
  height: 30px;
}
.borders li:nth-child(3) {
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
}
.borders li:nth-child(4) {
  left: 0;
  bottom: 0;
  top: 0;
  width: 30px;
}

.login-image {
  display: none !important;
}

#login-buttons .text-besides-image {
  margin-left: 0;
}

.new-game,
#login-buttons .login-buttons-with-only-one-button .login-button {
  border: 0;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  position: fixed;
  bottom: 50px;
  padding: 8px 20px;
  background-color: #fff;
  color: #000;
  border: 3px solid;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  z-index: 999;
}
.new-game:focus,
#login-buttons .login-buttons-with-only-one-button .login-button:focus {
  outline: 0;
}

.new-game {
  right: 50px;
}

#login-buttons .login-buttons-with-only-one-button .login-button {
  left: 50px;
}

.login-display-name {
  position: fixed;
  bottom: 64px;
  left: -28px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 999;
  font-size: 12px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.pingpong-item {
  -webkit-animation: spin 4s ease;
  animation: spin 4s ease;
  background-image: url("/img/pingpongBall.png");
  background-size: 100%;
  border-radius: 50%;
  position: fixed;
}
.pingpong-item:hover {
  background-image: url("/img/gold.jpg");
}
.pingpong-item:first-child {
  width: 160px;
  height: 160px;
  bottom: 0;
  left: 50%;
  display: none;
}
.home .pingpong-item:first-child {
  display: block;
}
.pingpong-item:nth-child(2) {
  width: 100px;
  height: 100px;
  bottom: 18%;
  left: 10%;
}
.pingpong-item:nth-child(3) {
  width: 50px;
  height: 50px;
  right: 10%;
  top: 50%;
}

.pingpong-paddle {
  position: fixed;
  bottom: 55%;
  right: 0;
  z-index: 9999;
  width: 175px;
  height: 215px;
  background-size: 100%;
  background-image: url("/img/paddle.png");
}
