<head>
  <title>pong</title>
</head>

<body>
<ul class="borders">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<ul class="pingpong-list">
  <li class="pingpong-item"></li>
  <li class="pingpong-item"></li>
  <li class="pingpong-item"></li>
  <li class="pingpong-paddle"></li>
</ul>
</body>


<template name="layout">
	{{>header}}
	{{>yield}}
</template>


<template name="home">
  <div class="home-scoreboard">
    <div class="home-scoreboardInner">
      <div class="home-scoreboardLayout">
        <!-- <h1 class="home-gameCount">Game {{game.game_num}}</h1> -->
        <div class="home-p1Mod home-pMod home-scoreboardItem">
          <i class="home-playerName">{{game.p1_name}}</i>
          <i class="home-playerScore">{{game.p1_score}}</i>
        </div>
        <div class="home-scoreboardItem">
          <h4 class="home-verb">{{verbed}}!</h4>
        </div>
        <div class="home-p2Mod home-pMod home-scoreboardItem">
          <i class="home-playerName">{{game.p2_name}}</i>
          <i class="home-playerScore">{{game.p2_score}}</i>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="leaderboard">
	<h1>Leaderboard</h1>
  <ol>
 {{#each leaders}}
  <li><p><img src="{{services.twitter.profile_image_url}}" alt=""/></p>
    <h1>{{profile.name}}</h1>
    <p>{{profile.name}} / @{{services.twitter.screenName}}</p>
    <p>Wins: {{profile.wins}} / Losses: {{profile.losses}}</p></li>
  {{/each}}
  </ol>
</template>

<template name="header">
  <div class="nav">
    <div class="logoMod">
      <a href="/" class="logo">
        <img src="/img/logo.svg">
      </a>
    </div>
    <ul class="nav-list">
      <li class="nav-item"><a href="/games/" class="nav-link nav-link--games">All games</a></li>
      <li class="nav-item"><a href="/leaderboard/" class="nav-link nav-link--leaderboard">Leaderboard</a></li>
    </ul>

  </div>
  <a href=""></a>
	{{>loginButtons}}
  {{#if userIsLoggedIn}}<a href="/new-game/" class="new-game">Score a game</a>{{/if}}
</template>

<template name="notFound">
  <img style="width: 100%; height: 100%;" src="/img/404/{{gifs}}"/>
</template>

<template name="newGame">
  <h1>Score a game</h1>

	<a href="#" id="opponentSelectTrigger">Select your opponent!</a>

<div id="opponentSelector">
	{{#each users}}
	<li class="opponentUser" data-userid="{{_id}}"><img src="{{services.twitter.profile_image_url}}"/>{{profile.name}}</li>
	{{/each}}
</div>

  <form id="new_game">
	  <h1 id="{{user._id}}">{{user.profile.name}}</h1>
	  <input type="number" id="p1_score"/> vs
		<hr>
		<h1>Versus {{#each opponent}}<span id="opponentName">{{profile.name}}</span>{{/each}}</h1>

	  <input type="number" id="p2_score"/>
	  <br/>
	  <input type="submit" for="new_game" id="game_submit"/>
  </form>
</template>


<template name="playerDetail">
  {{#each player}}
  <p><img src="{{services.twitter.profile_image_url}}" alt=""/></p>
    <h1>{{profile.name}}</h1>
    <p>{{profile.name}} / @{{services.twitter.screenName}}</p>
  {{/each}}
</template>


<template name="allPlayers">
  <h1>Players</h1>

  {{#each players}}
  	<a href="/players/{{_id}}"><p><img src="{{services.twitter.profile_image_url}}" alt=""/>
 {{profile.name}} / @{{services.twitter.screenName}} / Wins: {{profile.wins}} / Losses: {{profile.losses}}</p></a>
  {{/each}}
</template>


<template name="allGames">
  <div class="home-scoreboard">
    <div class="home-scoreboardInner">
      {{#each games}}
      <div class="home-scoreboardLayout">
        <!-- <h1 class="home-gameCount">Game {{game.game_num}}</h1> -->
        <div class="home-p1Mod home-pMod home-scoreboardItem">
          <i class="home-playerName">{{p1_name}}</i>
          <i class="home-playerScore">{{p1_score}}</i>
        </div>
        <div class="home-scoreboardItem">
          <h4 class="home-verb">{{verbed}}!</h4>
        </div>
        <div class="home-p2Mod home-pMod home-scoreboardItem">
          <i class="home-playerName">{{p2_name}}</i>
          <i class="home-playerScore">{{p2_score}}</i>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
