<head>
  <title>pong</title>
</head>

<body>
  <h1>Welcome to WePong!</h1>
</body>


<template name="layout">
	{{>header}}
	{{>yield}}
</template>


<template name="leaderboard">
	<h1>Leaderboard</h1>
  <ol>
 {{#each leaders}}
  <li><p><img src="{{services.twitter.profile_image_url}}" alt=""/></p>
    <h1>{{profile.name}}</h1>
    <p>{{profile.name}} / @{{services.twitter.screenName}}</p>
    <p>Wins: {{profile.wins}} / Losses: {{profile.losses}}</p></li>
  {{/each}}
  </ol>
</template>

<template name="header">
			<a href="/">Leaderboard</a>
			<a href="/games/">All games</a>
			<a href="/players/">All players</a>
			{{>loginButtons}}
      {{#if userIsLoggedIn}}<a href="/new-game/">Score a game</a>{{/if}}
</template>

<template name="notFound">
<h1>fuck! Not found!</h1>
</template>

<template name="newGame">
  <h1>Score a game</h1>

	<a href="#" id="opponentSelectTrigger">Select your opponent!</a>

<div id="opponentSelector">
	{{#each users}}
	<li class="opponentUser" data-userid="{{_id}}"><img src="{{services.twitter.profile_image_url}}"/>{{profile.name}}</li>
	{{/each}}
</div>

  <form id="new_game">
	  <h1 id="{{user._id}}">{{user.profile.name}}</h1>
	  <input type="number" id="p1_score"/> vs
		<hr>
		<h1>Versus {{#each opponent}}{{profile.name}}{{/each}}</h1>

	  <input type="number" id="p2_score"/>
	  <br/>
	  <input type="submit" for="new_game" id="game_submit"/>
  </form>
</template>


<template name="playerDetail">
  {{#each player}}
  <p><img src="{{services.twitter.profile_image_url}}" alt=""/></p>
    <h1>{{profile.name}}</h1>
    <p>{{profile.name}} / @{{services.twitter.screenName}}</p>
  {{/each}}
</template>


<template name="allPlayers">
  <h1>Players</h1>

  {{#each players}}
  	<a href="/players/{{_id}}"><p><img src="{{services.twitter.profile_image_url}}" alt=""/>
 {{profile.name}} / @{{services.twitter.screenName}} / Wins: {{profile.wins}} / Losses: {{profile.losses}}</p></a>
  {{/each}}
</template>


<template name="allGames">
  <h1>{{gameTotal}} Games</h1>

  {{#each games}}
  	<p>Game {{game_num}}</p>
    <p>{{p1_name}}:{{p1_score}}</p>
  	<p>{{p2_name}}:{{p2_score}}</p>
  	<hr>
  {{/each}}
</template>
