<head>
  <title>pong</title>
</head>

<body>
<ul class="borders">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<ul class="pingpong-list">
  <li class="pingpong-item"></li>
  <li class="pingpong-item"></li>
  <li class="pingpong-item"></li>
  <li class="pingpong-paddle"></li>
</ul>
</body>


<template name="layout">
	{{>header}}
	{{>yield}}
</template>


<template name="home">
  <div class="scoreboard">
    <div class="scoreboardInner">
      <div class="scoreboardLayout">
        <!-- <h1 class="gameCount">Game {{game.game_num}}</h1> -->
        <div class="p1Mod pMod scoreboardItem">
          <i class="playerName">{{game.p1_name}}</i>
          <i class="playerScore">{{game.p1_score}}</i>
        </div>
        <div class="scoreboardItem">
          <h4 class="verb">{{verbed}}!</h4>
        </div>
        <div class="p2Mod pMod scoreboardItem">
          <i class="playerName">{{game.p2_name}}</i>
          <i class="playerScore">{{game.p2_score}}</i>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="leaderboard">
  <ul>
  <div class="leaderboard-mod">
 {{#each leaders}}
    <li class="leaderboardLayout">
      <div class="leaderboard-imgMod">
        <img src="{{services.twitter.profile_image_url}}" alt=""/>
      </div>
      <div class="leaderboard-hgroup">
        <h1>{{profile.name}}</h1>
        <h2>@{{services.twitter.screenName}}</h2>
      </div>
      <p class="leaderboard-score">{{profile.wins}} - {{profile.losses}}</p></li>
  {{/each}}
  </div>
  </ul>
</template>

<template name="header">
  <div class="nav">
    <div class="logoMod">
      <a href="/" class="logo">
        <img src="/img/logo.svg">
      </a>
    </div>
    <ul class="nav-list">
      <li class="nav-item"><a href="/games/" class="nav-link nav-link--games">All games</a></li>
      <li class="nav-item"><a href="/leaderboard/" class="nav-link nav-link--leaderboard">Leaderboard</a></li>
    </ul>

  </div>
  <a href=""></a>
	{{>loginButtons}}
  {{#if userIsLoggedIn}}<a href="/new-game/" class="new-game">Score a game</a>{{/if}}
</template>

<template name="notFound">
  <img style="width: 100%; height: 100%;" src="/img/404/{{gifs}}"/>
</template>

<template name="newGame">

  <div class="scoreboard" style="background-image: url(/img/404/{{gifs}}); background-size: cover;">
    <div class="scoreboardInner">
      <div class="scoreboardLayout">
	<a href="#" id="opponentSelectTrigger" class="active">Select your opponent!</a>

<div id="opponentSelector">
<h1><marquee>Click a nerd!</marquee></h1>
<ul class="opponentUsers">
	{{#each users}}
	<li class="opponentUser" id="{{_id}}" data-userid="{{_id}}"><img src="{{services.twitter.profile_image_url}}"/>{{profile.name}}</li>
	{{/each}}
  </ul>
</div>

<div id="gameForm">
  <form id="new_game">
    <div class="form-top">
  	  <h1 id="{{user._id}}">YOU: ({{user.profile.name}})</h1>
  	  <input class="number-input" type="number" id="p1_score"/>
    </div>
    <div class="versus">
      <blink>VERSUS</blink>
    </div>
    <div class="form-bottom">
  		<h1>Versus {{#each opponent}}<span id="opponentName">{{profile.name}}</span>{{/each}}</h1>
  	  <input class="number-input" type="number" id="p2_score"/>
    </div>
	  <br/>
	  <input type="submit" for="new_game" id="game_submit"/>
  </form>
</div><!-- gameform -->

      </div>
    </div>
  </div>

</template>


<template name="playerDetail">
  {{#each player}}
  <p><img src="{{services.twitter.profile_image_url}}" alt=""/></p>
    <h1>{{profile.name}}</h1>
    <p>{{profile.name}} / @{{services.twitter.screenName}}</p>
  {{/each}}
</template>


<template name="allPlayers">
  <h1>Players</h1>

  {{#each players}}
  	<a href="/players/{{_id}}"><p><img src="{{services.twitter.profile_image_url}}" alt=""/>
 {{profile.name}} / @{{services.twitter.screenName}} / Wins: {{profile.wins}} / Losses: {{profile.losses}}</p></a>
  {{/each}}
</template>


<template name="allGames">
  <div class="scoreboard">
    <div class="scoreboardInner">
      {{#each games}}
      <div class="scoreboardLayout">
        <!-- <h1 class="gameCount">Game {{game.game_num}}</h1> -->
        <div class="p1Mod pMod scoreboardItem">
          <i class="playerName">{{p1_name}}</i>
          <i class="playerScore">{{p1_score}}</i>
        </div>
        <div class="scoreboardItem">
          <h4 class="verb">{{verbed}}!</h4>
        </div>
        <div class="p2Mod pMod scoreboardItem">
          <i class="playerName">{{p2_name}}</i>
          <i class="playerScore">{{p2_score}}</i>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
